.availabilitiesTableRow {
    text-align: right;
}

.availabilityTableItemContainer {
    margin-bottom: 12px;
}

.tableHideSmallScreen {
    display: block;
}

.tableHideMediumScreen {
    display: none;
}

.tableHideSmallScreen th:first-of-type {
    display: none;
}

.tableHideSmallScreen th:last-of-type span {
    display: block;
}

.timeFormatToggleContainer {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.timeFormatToggleContainer > span {
    margin-right: 0.5em;
}

.timeFormatToggleContainer > div {
    width: auto !important;
}

@media (max-width: 650px)  {
   .tableHideSmallScreen {
       display: none;
   }

    .smallScreenAvailabilityTableDivider {
        margin: 24px 0;
    }

    .tableHideMediumScreen {
        display: block;
    }

    .availabilitiesTableButton {
        margin: 12px 0;
    }

    .timeFormatToggleContainer {
        margin-bottom: 2em;
        justify-content: flex-start;
    }
}

