.availabilitySelectorContainer {
    width: 100%;
    text-align: left;
}

.availabilitySelectorContainer > div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

// Checkbox styling
.availabilitySelectorContainer > div > div:nth-child(3) {
    margin-left: 1em;
    text-align: left;
    width: auto !important;
}

.availabilitySelectorContainer > div > div:nth-child(3) > div > label {
    width: auto !important;
}

@media (max-width: 700px) {
    .availabilitySelectorContainer > div {
        flex-direction: column;
        align-items: flex-start;
    }

    // Checkbox styling
    .availabilitySelectorContainer > div > div:nth-child(3) {
        margin-left: 0em;
    }
}
