.availabilityIndexContainer {
    margin: 48px;
}

.availabilityIndexListContainer, .availabilityIndexProgramsContainer {
    list-style: none;
    -webkit-padding-start: 0;
    display: inline-flex;
    margin-top: 6px;
}

.availabilityIndexProgramsContainer {
    margin: 6px 0 0 12px;
}

.availabilityListItem {
    padding-left: 0;
    margin-right: 6px;
}

@media (min-device-width: 0) and (max-device-width: 650px), (max-width: 650px)  {
    .availabilityIndexProgramsContainer {
        margin: 12px 0;
    }
}
