.availabilitiesTableRow {
    text-align: right;
}

.availabilityTableItemContainer {
    margin-bottom: 12px;
}

.tableHideSmallScreen {
    display: block;
}

.tableHideMediumScreen {
    display: none;
}

.tableHideSmallScreen th:first-of-type {
    display: none;
}

.tableHideSmallScreen th:last-of-type span {
    display: block;
}

@media (max-width: 650px)  {
   .tableHideSmallScreen {
       display: none;
   }

    .smallScreenAvailabilityTableDivider {
        margin: 24px 0;
    }

    .tableHideMediumScreen {
        display: block;
    }

    .availabilitiesTableButton {
        margin: 12px 0;
    }
}

