.footerContainer {
    margin-top: 36px;
}

.footer {
    width: 425px;
    margin: 0 0 12px auto;
    font-size: 10px;
}

.footer p {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    display: inline-block;
}

.footer p:first-of-type {
    margin: 6px 0 3px;
}

.footerLink {
    margin-right: 12px;
}

.footerContainerFixed {
    position: relative;
    width: 100vw;
}


@media (min-height: 720px) {
    .footerContainerFixed {
        position: fixed;
        bottom: 0;
    }
}

@media (max-width: 900px) {
    .footer {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .footerLink {
        margin: 0;
    }

    .footer {
        margin-left: 24px;
    }
}
