
.footerHeader {
    font-family: 'Roboto Slab';
    font-size: 20px;
    font-weight: bold;
}

.footerAppBar {
    bottom: 0;
}

.footerToolbar {
    background-color: #004664;
    justify-content: space-around;
    padding: 2pc;
    padding-left: 4pc;
    padding-right: 4pc;
}

.footerAppBar a {
    color: white;
    font-family: Lato;
    font-size: 18px;
    text-decoration: none;
}

.footerAppBar a:hover {
    text-decoration: underline;
}

.footerBody {
    font-family: Lato;
    font-size: 18px;
    display: inline-flex;
}

.footerBody > span {
    display: flex;
    flex-flow: column;
    padding-right: 2pc;
    padding-left: 2pc;
}

.copyrightAndLogo {
    flex-flow: row;
    font-size: 40%;
}

.footerAddress {
    white-space: pre;
}

.facebookIcon,
.linkedInIcon {
    padding-right: .2pc;
}

.copyrightLogo {
    padding-left: .2pc;
}

@media (max-width: 901px) {
    .footerToolbar {
        flex-flow: column;
    }

    .paypalButtonContainer {
        padding-top: 1pc;
        padding-bottom: 2pc;
    }

    .leftElementsContainer {
        width: 100%;
    }

    .footerBody {
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: small;
    }

    .footerBody > span > a {
        font-size: x-small;
    }

    .footerBody > span {
        padding: none;
    }
}
