.menuAppBar {
    padding-right: 4%;
    padding-left: 4%;
}

.menuAppBarLower .logo__item {
    margin: 0%;
}

.menuAppBarLower .logo__item .logo {
    width: 15pc;
}

.menuAppBarHigher {
    justify-content: flex-end;
}

.menuAppBarLower {
    justify-content: space-between;
}

.roleLinks,
.rightElements,
.contactElements,
.signedOutHeader {
    display: flex;
}

.roleLinks > span {
    display: flex;
    flex-flow: row;
    width: min-content;
    align-items: center;
    text-align: center;
}

.headerStaticButtons,
.headerVariableButtons {
    align-items: center;
    align-self: center;
}

.headerStaticButtons {
    display: inherit;
}

.signUpMenu a {
    text-decoration: none;
}

.languageMenuChevron,
.signUpChevron {
    align-self: center;
}

.profileMenuContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
}

// Window.width < 900px Styles

.menuMobile .roleLinks .sliderButtonContainer {
    display: inherit;
}

.menuMobile .signedInHeader {
    align-items: center;
}

.menuMobile .roleLinks > span {
    flex-flow: column;
    width: stretch;
}

.menuMobile .rightElements,
.menuMobile .menuMobileExpansionPanelDetails {
    display: flow-root;
}

.menuMobile .mobileElements .roleLinks,
.menuMobile .mobileElements .contactElements,
.menuMobile .rightElements .headerStaticButtons,
.menuMobile .rightElements .headerVariableButtons .signedOutMenuMobile, .signedInHeader {
    display: grid;
}

.languageMenuSummary .languageMenuSummaryContent,
.signedOutMenuSummary .signedOutMenuSummaryContent {
    flex-grow: 0;
}

.menuMobile .languageMenuContent,
.menuMobile .signedOutMenuContent {
    display: grid;
    padding: 0;
}

.languageMenuSummary .languageMenuSummaryContent,
.signedOutMenuSummary .signedOutMenuSummaryContent {
    color: #004664;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    padding-left: 1pc;
    padding-right: 1pc;
}

.menuMobile .langaugeMenuMobilePanel,
.signedOutMenuMobile .signedOutMenuMobilePanel {
    box-shadow: none;
}

.menuMobile .logo__item .logo {
    width: 10pc;
}

.menuMobile .languageMenuContent {
    justify-content: center;
}

.menuMobile .logo__item {
    margin: 0;
}

.signedOutMenuMobile > div > div {
    display: flex;
    justify-content: center;
}
