h1 {
    font-family: 'Roboto Slab';
    font-size: 60px;
    font-weight: bold;
    line-height: initial;
}

h2 {
    font-family: 'Roboto Slab';
    font-size: 40px;
    font-weight: bold;
    line-height: initial;
}

p {
    font-family: 'Lato';
    font-size: 18px;
}

.splashObjects {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-flow: row;
}

.testimonialsContainer {
    margin-top: 4em;
    margin-bottom: 4em;
}

.testimonialsSubtitle {
    text-align: center;
    color: darkgray;
}

.orangeText {
    color: #F1592A;
}

.signUpButton > span {
    color: white;
    font-weight: bold;
    font-family: 'Lato';
    font-size: 18px;
}

.homepageContact {
    display: flex;
    padding-bottom: 2em;
}

.homepageContact > span {
    margin-top: 2em;
    margin-bottom: 2em;
}

.featuredProgramsContainer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}

.featuredProgramsContentContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
}

.featuredProgramsContentContainer  > div {
    display: flex;
    padding: 3em 3%;
    width: 30%;
}

.featuredProgramsContentContainer > div > div {
    background-color: #004664;
    color: white;
    padding: 1em;
}

.featuredProgramsContentContainer > div > div > div {
    padding: 0;
}

.featuredProgramsContentContainer p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.programCardsHeader {
    font-size: 30px;
}

.howItWorksContainer {
    margin-top: 4em;
    margin-bottom: 4em;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.howItWorksContentContainer {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.howItWorksContentContainer > div{
    width: 35%;
    display: flex;
    flex-grow: 1;
    margin: 3%;
}

.howItWorksContentContainer > div > div {
    box-shadow: none;
    background-color: #FAFAFA;
}

.cardContent {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.cardTextSpan {
    color: #004664;
    display: grid;
    width: 20pc;
}

.cardIndexSpan {
    width: 6pc;
    height: 8pc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #004664;
    text-align: center;
    font-size: 3rem;
    align-self: center;
    margin-left: 1pc;
}

.whereWeAreContainer {
    margin-top: 3pc;
    margin-bottom: 3pc;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.whereWeAreContentContainer > div {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #A7A9AC;
}

.mapToggleLabel {
    align-self: center;
}

.whereWeAreComponentsContainer > div > div > div > button {
    text-transform: none;
    font-family: 'Lato';
    font-size: 18px;
}

.joinUsContainer {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #004664;
    color: white;
}

.joinUsContentContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #A7A9AC;
}

.joinUsForm {
    background-color: white;
    width: 50vw;
    padding: 5em;
    padding-bottom: 2em;
    margin: 2em;
}

.joinUsForm > div {
    margin-bottom: 2em;
    margin-top: 2em;
}

.joinUsForm > div > div > input {
    text-align: center;
    font-family: 'Lato';
    font-size: 18px;
}

.joinUsForm > div > div::before {
    border-bottom-color: #004664;
    border-bottom-width: 3px;
}

.joinUsForm > div > div::after {
    border-bottom-color: #F1592A;
    border-bottom-width: 3px;
}

.expansionPanel > div:last-child {
    border-radius: unset;
    box-shadow: 0px 3px 0px 0px #004664;
    background-color: #FAFAFA;
    color: #A7A9AC;
}

.languageButtonsContainer {
    display: flex;
    flex-flow: column;
    width: stretch;
}

.languageButtonsContainer > button {
    justify-content: space-between;
}

.languageButtonsContainer > button > span {
    text-transform: none;
    font-family: 'Lato';
    font-size: 18px;
    display: -webkit-box;
    display: flex;
    padding-left: 1pc;
    padding-right: 1pc;
}

.languageButton:hover {
    background-color: transparent;
}

.languageButton > span {
    color: #A7A9AC;
}

.languageButton > span:hover {
    background-color: transparent;
    color: #F1592A;
}

.checked > span {
    color: #F1592A;
    background-color: rgba(241, 89, 42, 0.2);
}

.checked {
    border: #004664;
}

.radioButtons > div {
    margin: 2pc;
    flex-flow: row;
    justify-content: space-around;
}

.radioButtonCircle,
.radioButtonCheckedCircle {
    color: #F1592A;
}

.splashContainer > button,
.submitButtonContainer > a {
    height: auto;
    text-transform: none;
    background-color: #004664;
    color: white;
    font-family: 'Lato';
    font-size: 18px;
    padding: 0.5em 2em;
}

.splashContainer > button:hover,
.submitButtonContainer > a:hover {
    background-color: #F1592A;
}

.submitButtonContainer {
    display: flex;
    justify-content: center; 
    text-align: center;
}

.needHelpContainer {
    margin-top: 3pc;
    margin-bottom: 3pc;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.needHelpSubtitle > a {
    text-decoration: none;
    color: #29AAE2;
}

.needHelpSubtitle > a:hover {
    text-decoration: underline;
}

.needHelpLinks {
    display: flex;
    flex-flow: row;
    width: stretch;
    justify-content: space-around;
    padding-top: 3pc;
    padding-bottom: 3pc;
    color: #004664;
}

.needHelpLinks .homepageContact {
    width: inherit;
    justify-content: space-around;
    padding-bottom: 0;
}

.needHelpLinks .homepageContact span a span span {
    flex-flow: column;
    font-family: 'Roboto Slab';
    font-size: 30px;
    font-weight: bold;
    line-height: initial;
}

@media (max-width: 901px) {
    .homepageMainContainer > div {
        margin: 1pc;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    h1 {
        font-size: 40px;
    }

    h1, h2, p {
        text-align: center;
    }

    .splashObjects {
        margin-left: 2pc;
        margin-right: 2pc;
        display: block;
    }

    .splashContainer .homepageContact,
    .splashObjects {
        flex-flow: column;
    }

    .splashContainer > button {
        display: flex;
        margin: auto;
    }

    .featuredProgramsContentContainer {
        flex-flow: column;
        align-items: center;
    }

    .featuredProgramsContentContainer > div {
        width: 80%;
    }

    .howItWorksContentContainer {
        flex-flow: column;
        align-items: center;
    }
    
    .howItWorksContentContainer > div{
        width: 95%;
        justify-content: center;
    }
    .joinUsContainer {
        width: 100%;
    }
    .joinUsContentContainer {
        width: 100%;
    }
    
    .joinUsForm {
         width: 80%;
        padding: 1pc;
    }

    .joinUsSubtitle {
        margin-left: 1em;
        margin-right: 1em;
    }

    .needHelpLinks .homepageContact {
        flex-flow: column;
        justify-content: space-between;
    }
}

@media (max-width: 500px) {

    .radioButtons > div {
        flex-flow: column;
    }

}