.availabilityContainer {
    margin: 50px 48px;
}

.addAvailabilitiesButton {
  margin: 24px 0;
}

.newAvailabilityFormContainer {
    margin: 50px 48px;
    width: 50%;
}

.newAvailabilityTimezone {
  margin-right: 12px;
}

.newAvailabilityErrorField .errorField {
    margin-left: 0;
}

@media (max-width: 500px) {
    .newAvailabilityFormContainer {
        margin: 48px 0;
        width: 100%;
    }
}
