.autocomplete-container {
    width: 4em;
    display: inline-block;
}

.autocomplete-container > div > div > div {
    text-align: center;
    width: 100%;
}

.autocomplete-container > div > div > input {
    text-align: center;
}