.searchBarContainer {
    text-align: center;
}

.emptyVolunteerResults {
    margin: 24px 0;
}

.searchBarHeaderContainer {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.searchBarContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.searchBarTimezone, .searchBarTimezoneLink, .searchBarOption {
    width: 100%;
    margin-right: 12px;
    margin-bottom: 24px;
    flex: 1 1 auto;
    text-align: left;
}

.signUpHeader h1 {
    width: 600px;
    margin: 12px auto 24px;
    text-align: left;
}

.searchBarTimezoneLink .slidingLink {
    transform: translateY(6px);
    margin-right: 0;
    width: fit-content;
}

@media (max-width: 600px) {
    .signUpHeader h1 {
        width: 100%;
        text-align: center;
    }

    .searchBarContainer {
        display: block;
        margin: 0 auto;
    }

    .searchBarHeaderContainer {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .searchBarTimezone, .searchBarOption {
        min-width: 80%;
        margin: 12px 0;
    }

    .searchBarTimezoneLink {
        width: 100%;
        text-align: center;
    }

    .searchBarTimezoneLink .slidingLink {
        margin: 0 auto;
        width: fit-content;
    }
    .searchBarButton {
        width: auto;
    }
    .searchAvailabilityContainer {
        width: 80%;
        margin: auto;
    }
}
