.signInContainer {
    max-width: 900px;
    margin: 48px auto;
    padding: 0 24px
}

.signInLink, .signInLinkSecondaryContainer {
    margin-top: 24px;

    &.MuiButtonBase-root {
        margin-top: 24px;
    }
}

.signInEmailInputField > label {
  color: #0099ff !important;
}

@media (max-width: 500px) {
    .signInLink, .signInLinkSecondary {
        margin: 12px 0;
        display: block;
    }
}

