.video-responsive {
  text-align: center;
  margin-top: 100px;
}

@media screen and (max-width: 760px) {
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    padding-top: 25px;
  }
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}