@import url("https://unpkg.com/leaflet@1.5.1/dist/leaflet.css");

.userMapContainer {
    position: relative;
    height: 50vh;
    width: 70vw;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: #313131;
}

.leaflet-popup-content > p {
    margin: 0;
    color: white;
}