@import url("https://unpkg.com/leaflet@1.5.1/dist/leaflet.css");

.userMapContainer {
    position: relative;
    height: 50vh;
    width: 70vw;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: #FAFAFA;
    box-shadow: 7px 7px 9px -5px rgba(0,0,0,0.75);
}

.leaflet-popup-content > h4 {
    font-family: 'Roboto Slab';
    font-size: 30px;
    font-weight: bold;
    line-height: initial;
    color: #004664;
    margin: 0;
}

.leaflet-popup-content > p {
    margin: 0;
    color: darkgray;
}