{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react",
    "airbnb"
  ],
  "plugins": [
    "inline-react-svg",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "react-intl", {
      "messagesDir": "./build/messages",
      "enforceDescriptions": false
      }
    ],
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
