<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<%= image_tag attachments['logo.png'].url %>
<h1><%= @user.first_name %>,</h1>
<p>
  Hope this note finds you well.
</p>
<p>
  We have seen that your profile was activated 3 days ago but you have not entered your availabilities yet. Please note that your profile won't show up in client search results if you do not enter your availabilities.
</p>
<p>
  Thank you.
</p>
<p>Team Tutoría</p>

</body>
</html>
