<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @user.first_name %>,</h1>
<p>
  Your Tutoría account with username <%= @user.email %> has been deleted.
</p>
<p>
  Sorry to see you go!
</p>
<p>Team Tutoría</p>
</body>
</html>
