<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @user.first_name %>,</h1>
<p>
  Your Tutoría account with username <%= @user.email %> has been disabled by the administrator.
</p>
<p>
  There are a few possible reasons for this.
</p>
<p>
  If you have any questions, please email <%= @admin_email %>.
</p>
<p>Team Tutoría</p>
</body>
</html>
