<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @user.first_name %>, you've got mail!</h1>
<p>
 <%= @sender.first_name %> has sent you a message<br>
</p>

<p>Message:</p>
<p>
  "<%= @message.body %>"
</p>
<p>
  To access it on tutoría.com just follow this link: <%= @url %>.
</p>
<p>Thanks and have a great day!</p>
</body>
</html>
