<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<%= image_tag attachments['logo.png'].url %>
<h1>Estimado <%= @client.first_name %>,</h1>
  
<p>
Ha enviado un mensaje a <%= @volunteer.first_name %> para recibir ayuda con <%= @program.name %>; desafortunadamente no ha respondido.
</p>

<p>
Lamentamos el inconveniente y le ofrecemos las siguientes alternativas: usted podría esperar una respuesta o puede mandar un mensaje a otro voluntario, esto lo puede hacer siguiendo estos pasos:
</p>
 
<p>
<ol>
  <li>Inicie sesión en Tutoría en <a href="https://tutoria.io/es/sign_in">el link</a></li>.
  <br>
  <li>Encuentre un nuevo voluntario ingresando a la página “Buscar” desde el menú superior.</li>
  <br>
  <li>En los resultados de la búsqueda, haga click en el botón “Enviar mensaje a usuario/a”.</li>
</ol>
 
<p>
Si tiene alguna pregunta, por favor comuníquese con nosotros a través del correo electrónico <a href="mailto:community.manager@tutoria.io">community.manager@tutoria.io</a> o al +1 (929) 359-3986 por teléfono o WhatsApp.
</p>
  
<p>
Muchas Gracias,
</p>
 
<p>
El Equipo de Tutoria
</p>
</body>
</html>