commands:
  01_download_nodejs:
    command: curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash -
  02_install_nodejs:
    command: sudo yum -y install nodejs gcc libgmp3-dev libgmp-devel libxml2 libxml2-devel libxslt libxslt-devel patch make libffi-dev
  03_config_nodejs:
    command: sudo npm config set max_old_space_size 4000
  04_config_nodejs:
    command: sudo npm config set gc_interval 256
  06_install_yarn:
    command: sudo npm install yarn -g

