files:
    "/etc/letsencrypt/cli.ini":
        mode: "000644"
        owner: root
        group: root
        content: |
            domains = `{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "DOMAIN_NAME"}}`
            email = aws@tutoria.io
            authenticator = webroot
            webroot-path = /var/www/certbot
            debug = True
            text = True
            non-interactive = True
            agree-tos = True
            post-hook = nginx -s reload
