commands:
    01_makecertbotdir:
        command: "mkdir -p /var/www/certbot"
    02_installcertbot:
        command: "mkdir -p /opt/certbot && wget https://dl.eff.org/certbot-auto -O /opt/certbot/certbot-auto && chmod 700 /opt/certbot/certbot-auto && /opt/certbot/certbot-auto --debug --non-interactive --agree-tos certificates"

files:
    "/etc/cron.d/renew_certs":
        mode: "000644"
        owner: root
        group: root
        content: |
            22 4 */4 * * root /opt/certbot/certbot-auto certonly && sleep 300 && service passenger restart
