commands:
    01_makecertbotdir:
        command: "mkdir -p /var/www/certbot"

files:
    "/etc/cron.d/renew_certs":
        mode: "000644"
        owner: root
        group: root
        content: |
            22 4 */4 * * root /opt/certbot/certbot-auto certonly && sleep 300 && /sbin/service passenger restart
