files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_bundle_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -xe
      SWAPFILE=/var/swapfile
      SWAP_MEGABYTES=2048

      if [ -f $SWAPFILE ]; then
          echo "Swapfile $SWAPFILE found, assuming already setup"
          exit;
      fi

      /bin/dd if=/dev/zero of=$SWAPFILE bs=1M count=$SWAP_MEGABYTES
      /bin/chmod 600 $SWAPFILE
      /sbin/mkswap $SWAPFILE
      /sbin/swapon $SWAPFILE

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_STAGING_DIR

      if [ -f Gemfile ]; then
          echo "running 'bundle install' with Gemfile:"
          cat Gemfile
          gem install pkg-config -v "~> 1.1"
          gem install nokogiri -- --use-system-libraries

          gem install ffi -f -v 1.9.16
          bundle install --force
      else
          echo "no Gemfile found! Skipping bundle install stage!"
      fi

      if [ -f Gemfile.lock ]; then
          echo "encountered a Gemfile.lock, setting proper permissions"
          sudo chown $EB_APP_USER:$EB_APP_USER Gemfile.lock
      else
          echo "no Gemfile.lock file found, so no permissions to set on it"
      fi
