.availabilitiesTableRow {
    text-align: right;
}

.availabilityTableItemContainer {
    margin-bottom: 12px;
}

.tableHideSmallScreen {
    display: block;
}

.tableHideMediumScreen {
    display: none;
}

.tableHideSmallScreen th:first-of-type {
    display: none;
}

.tableHideSmallScreen th:last-of-type span {
    display: block;
    padding-right: 24px;
    text-align: center;
}

@media (min-device-width: 0) and (max-device-width: 650px) {
   .tableHideSmallScreen {
       display: none;
   }

    .tableHideMediumScreen {
        display: block;
    }

    .availabilitiesTableButton {
        margin: 12px 0;
    }
}

@media (max-width: 650px) {
    .tableHideSmallScreen {
        display: none;
    }

    .tableHideMediumScreen {
        display: block;
    }
}
