.availabilitiesTableRow {
    text-align: right;
}

.tableHideSmallScreen {
    display: block;
}

.tableHideMediumScreen {
    display: none;
}

@media only screen and (min-device-width: 0) and (max-device-width: 650px) {
   .tableHideSmallScreen {
       display: none;
   }

    .tableHideMediumScreen {
        display: block;
    }

    .availabilitiesTableButton {
        margin: 12px 0;
    }
}

@media (max-width: 650px) {
    .tableHideSmallScreen {
        display: none;
    }

    .tableHideMediumScreen {
        display: block;
    }
}
