.courseWidth {
    --width: 300px;
}

.courseLabelWidth {
    --width: 204px;
}

.courseHeader {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}

.courseContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.course {
    border-radius: 2px;
    position: relative;
    margin: 0 50px 50px;
    width: var(--width);
    height: 200px;
    text-align: center;
}

.courseLabel {
    width: var(--width);
    background-color: rgba(79, 79, 79, 0.8);
    padding: 12px 48px;
    text-align: left;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}

@media(max-width: 500px) {
    .navMenuButton {
        outline: none;
        margin: 24px 0 0 24px;
    }
    .courseContainer {
      display: block;
    }

    .courseLabel {
        text-align: center;
    }
}
