.courseHeader {
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}

.courseContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.course {
    border-radius: 2px;
    position: relative;
    margin: 0 50px 50px;
    width:  300px;
    height: 200px;
    text-align: center;
}

.courseLabel {
    width: 204px;
    background-color: rgba(79, 79, 79, 0.8);
    padding: 12px 48px;
    text-align: left;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}

.navMenuButton, .navDisplayNone {
    display: none;
}

@media only screen and (min-device-width: 0)  and (max-device-width: 500px) {
    .courseContainer {
        display: block;
    }
    .courseLabel {
        text-align: center;
    }
    .course {
        margin: 24px auto;
    }
}
