.navigation {
    margin: 0 0 0 36px;
}

.slidingLink {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 24px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.slidingLink:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    transition: width 0s ease, background .15s ease;
    outline: none;
}

.slidingLink:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: #f1592a;
    transition: width .15s ease;
}

.slidingLink:hover:before {
    width: 100%;
    background: #f1592a;
    transition: width .15s ease;
}
.slidingLink:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}

.navMenuButton, .navDisplayNone {
    display: none;
}

.navigation {
    width: 100%;
    margin-top: 24px;
    padding-left: 24px;
    text-align: left;
}

@media only screen and (min-device-width: 0) and (max-device-width: 650px), (max-width: 650px) {
    .slidingLink {
        display: block;
        margin: 0;
    }

    .slidingLink:hover:before, .slidingLink:hover:after {
        width: 50%;
        right: 100%;
        transform: translateX(50%);
    }

    .navigation {
        display: none;
        padding: 0;
        text-align: center;
        margin: 0;
    }

    .navMenuButton, .navDisplayNone {
        display: none;
    }
    .navDisplay, .navMenuButton {
        display: block;
        margin: 0;
    }

    .navMenuButton {
        outline: none;
        margin: 24px 0 0 24px;
    }
}
