a:hover {
  text-decoration: none;
}

.navigation {
  width: 100%;
  margin-top: 24px;
  text-align: right;
}

.homepageContainer {
  position: relative;
  width: 100%;
  margin-top: 36px;
  height: 350px;
  overflow: hidden;
}

.homepageImage {
  width: 100vw;
  height: calc((100vw * 9)/16);
}

.mask {
  position: absolute;
  width: 100%;
  height: calc((100vw * 9)/16);
  top: 0;
  bottom: 0;
  padding-left: 48px;
  background-color: rgba(79,79,79, 0.4);
}

.title {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
}

.subtitle {
  color: #fff;
  font-size: 24px;
}


@media(max-width: 500px) {
 .homepageContainer {
   height: calc((100vw * 9)/16);
 }
}
