.homepageMainContainer {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.homepageContainer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  overflow: no-display;
  flex: 1 1 auto;
}

.homepageImage {
  width: 100%;
  object-fit: cover;
}

.homepageTextContainer {
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.homepageCaption {
  padding: 24px;
}

.homepageListContainer {
  padding: 24px 0 48px 36px;
  background-color: #004664;
  color: #fff;
}

.homepageList {
  padding: 12px;
  counter-reset: section;
  list-style-type: none;
}

.homepageListItem::before {
  counter-increment: section;
  content: counters(section, ".") ". ";
}

.homepageMailToLink, .homepageMailToLink:visited {
    color: #fff;
}

.homepageDesktopNavigation {
  display: flex;
  flex-flow: row wrap;
}

.homepageButton:not(:last-of-type)  {
  margin-right: 24px;
}

.logo {
  width: 364px;
  height: 77px;
}

.homepageSubtitle {
  font-size: 1.5em;
}

.homepageMobileNavigation {
  display: none;
}

@media only screen and (min-device-width: 0) and (max-device-width: 900px), (max-width: 900px) {
  .homepageSubtitle {
    font-size: 18px;
  }

  .homepageCaption {
    flex: 1 1 auto;
  }

  .homepageCaptionItem {
    width: 100%;
    margin: 6px 0;
  }

  .homepageDesktopNavigation {
    display: none;
  }

   .homepageContainer {
     margin: 0;
   }

  .homepageTextContainer {
    width: 100%;
  }

  .homepageListContainer {
    margin: 0;
    padding: 12px 0 24px 12px;
    font-size: 20px;
    flex: 1 1 auto;
  }

  .homepageCaption {
    order: 1;
  }

  .homepageListContainer {
    order: 3;
  }

  .homepageMobileNavigation {
    order: 2;
    display: block;
    margin: 0 auto 24px;
    width: 90%;
  }

  .homepageImage {
    display: none;
  }

  .logo {
    width: 260px;
    height: 55px;
  }
}

@media (min-width: 901px) {
  .homepageTextContainer {
    width: 47vw;
  }

  .homepageImage {
    width: 53vw;
  }
}

@media (min-width: 1150px) {
  .homepageCaption {
    padding: 48px 48px 48px 36px;
  }
}
