.homepageWithoutFooter {
  display: flex;
  flex-flow: column;
  height: 90vh;
}

.homepageMainContainer .footerContainer {
  margin-top: 0;
}

.homepageCaption {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

.homepageImage {
  width: 80vh;
  object-fit: cover;
}

.homepageListContainer {
  background-color: #004664;
  color: #fff;
}

.homepageList {
  padding: 12px;
  counter-reset: section;
  list-style-type: none;
}

.homepageListItem::before {
  counter-increment: section;
  content: counters(section, ".") ". ";
}

.homepageMailToLink, .homepageMailToLink:visited {
  color: #fff;
}

.homepageButton:not(:last-of-type)  {
  margin-right: 24px;
}

.homepageSubtitle {
  font-size: 18px;
  margin-left: 24px;
}

@media (min-device-width: 901px) and (min-device-height: 751px) {
  .homepageContainer {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 1 1 auto;
    align-items: flex-end;
    height: auto;
  }

  .homepageTextContainer {
    width: 47%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }

  .homepageLogo {
    margin-left: 24px;
  }

  .homepageListContainer, .homepageCaption, .homepageCaptionTitle {
    flex: 1 1 auto;
  }

  .homepageListContainer {
    padding: 24px;
  }

  .homepageDesktopNavigation {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 24px;
  }

  .homepageImage {
    width: 53%;
  }

  .homepageMobileNavigation {
    display: none;
  }

  .homepageImage, .homepageTextContainer {
    height: 100%;
  }

  .homepageWithoutFooter {
    height: auto;
  }
}


@media (min-device-width: 901px) and (max-device-height: 730px), (min-width: 901px) and (max-height: 730px) {
  .homepageContainer {
    height: 100vh !important;
  }
}

@media (min-device-width: 0) and (max-device-width: 900px), (min-width: 0) and (max-width: 900px) {
  .homepageContainer {
    margin: 0;
  }

  .homepageListContainer, .homepageCaption, .homepageCaptionTitle {
    flex: 1 1 auto;
  }

  .homepageCaption {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
  }

  .homepageTextContainer, .homepageImage, .homepageCaptionItem {
    width: 100%;
    height: auto;
  }

  .homepageCaptionTitle {
    margin: 0 auto;
    max-width: 525px;
  }

  .homepageTextContainer {
    overflow: hidden;
  }

  .homepageListContainer {
    margin: 0;
    padding: 12px 0 24px 12px;
    font-size: 20px;
    order: 3;
  }

  .homepageMobileNavigation {
    margin: 0 auto 24px;
    max-width: 90%;
    order: 2;
    display: block;
  }

  .homepageImage, .homepageDesktopNavigation {
    display: none;
  }
}

