input[type=file].fileInput {
    display: none;
}

.imageInputImage {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.imageInputIcon {
    transform: translateY(2px);
}

.imageInputImageCaption {
    margin-left: 12px;
}

@media only screen and (min-device-width: 0) and (max-device-width: 650px) {
    .imageInputImageCaption {
        margin-left: 6px;
        font-size: 2.5vmax;
    }
}

@media (max-width: 650px) {
    .imageInputImageCaption {
        margin-left: 6px;
        font-size: 2.5vmax;
    }
}
