:root {
    --primary-color-1: #004664;
    --primary-color-2: #29aae2;

    --secondary-color-1: #ade1f4;
    --secondary-color-2: #a7a9ac;
    --secondary-color-3: #f1592a;
    --secondary-color-4: #d7df21;
}
