.availabilityContainer {
    margin: 50px 48px;
}

.addAvailabilitiesButton {
  margin: 24px 0;
}

.newAvailabilityFormContainer {
    margin: 50px 48px;
    width: 50%;
}

@media only screen and (min-device-width: 0)  and (max-device-width: 500px) {
    .newAvailabilityFormContainer {
        margin: 48px 0;
        width: 100%;
    }
}
