.programMainContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    background-color: rgba(173, 225, 244, 0.3);
    margin-top: 24px;
}

.programHeader {
    margin-left: 24px;
}

.programContainer {
    margin-left: 48px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 1 auto
}

.program {
    flex: 1 1 auto;
    margin-bottom: 0;
}

@media (min-device-width: 0)  and (max-device-width: 900px), (max-width: 900px) {
    .programMainContainer, .programContainer {
        display: block;
        padding: 3px 0 6px;
    }

    .programContainer {
        margin-left: 24px;
    }

    .program {
        width: 100%;
        margin-bottom: 6px;
    }
}
