.searchBarButtonContainer, .searchBarOptionalFieldContainer {
    display: block;
    width: 60%;
    margin: 12px auto;
}

.searchBarOptionalField, .searchBarDistanceOption {
    display: inline-block;
    max-width: 15%;
    min-width: 15%;
    margin: 0 8%;
    height: 60px;
}

.searchBarDistanceOption {
    transform: translateY(27px);
}

@media (max-width: 500px) {
    .searchBarButtonContainer, .searchBarOptionalFieldContainer {
        display: block;
        width: 100%;
    }
    .searchBarOptionalField, .searchBarDistanceOption {
        display: block;
        max-width: none;
        min-width: 0;
        margin: 12px 0;
        transform: none;
    }
}

