.searchResults {
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.paginationContainer {
   width: 100%;
    text-align: center;
}

.pagination {
    list-style: none;
}

@media (min-device-width: 0) and (min-width: 0) {
    .searchResultsContainer {
        text-align: center;
        margin: 24px 0 0 0;
        max-width: 100%;
        overflow: hidden;
    }

    .pagination {
        margin: 3px 0;
        width: 100%;
        max-width: 100%;
        padding: 0 0 6px;
    }

    .pagination.hideOnMobile {
        display: none;
    }

    .pagination.hideOnDesktop {
        display: block;
    }

    .pagination li {
        display: inline-block;
        background-color: #29aae2;
        padding: 18px;
        cursor: pointer;
        margin: 0 6px;
        border-radius: 5px;
    }

    .pagination li.active {
        color: white;
    }

    .pagination li a {
        width: 100%;
        height: 100%;
        font-size: 20px;
        font-weight: bold;
        outline: none;
        text-decoration: none;
    }
}

@media (min-device-width: 501px) and (min-width: 501px) {
    .pagination.hideOnMobile {
        display: block;
    }

    .pagination.hideOnDesktop {
        display: none;
    }

    .searchResultsContainer {
        max-width: 90%;
        text-align: center;
        margin: -24px 0 0 36px;
    }

    .searchResultDropdown, .searchResultsHeader {
        display: inline-block;
    }

    .searchResultDropdown {
        width: 200px;
        transform: translateY(20px);
    }

    .pagination {
        margin: 0 auto;
        width: auto;
    }

    .pagination li {
        padding: 10px 18px;
        margin: 0 12px;
    }
}
