.resultsFirstName, .resultsLastLogin, .resultsCity, .resultsAvailableDays, .resultsCourses  {
    width: 20%;
}
.resultsListContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.searchResultsAvatar {
    width: 36px;
}
@media(max-width: 500px) {
    .resultsListContainer {
        flex-flow: column;
        text-align: left;
        height: auto;
    }

    .resultsFirstName, .resultsLastLogin, .resultsCity, .resultsAvailableDays, .resultsCourses {
        margin-bottom: 12px;
        width: 100%;
    }
}
