.searchBarButtonContainer, .searchBarOptionalFieldContainer {
    display: block;
    width: 800px;
    margin: 12px auto;
}

.searchBarOptionalFieldContainer {
    height: 60px;
}

.searchBarOptionalField, .searchBarDistanceOption {
    width: 28%;
    display: inline-block;
    padding: 0 12px;
    vertical-align: middle;
}

.searchBarDistanceOption {
    transform: translateY(7px);
}

.searchBarOptionalFieldDisplay {
    display: inline-block;
}

.searchBarOptionalFieldDisplayNone, .searchBarOptionalFieldMobile {
    display: none;
}

@media (max-width: 850px) {
    .searchBarButtonContainer, .searchBarOptionalFieldContainer {
        display: block;
        width: 100%;
        text-align: center;
        height: auto;
    }

    .searchBarOptionalFieldMobile, .searchBarOptionalField {
        display: block;
        margin: 6px 0;
        padding: 0;
        transform: none;
        height: auto;
        width: auto;
        text-align: center;
    }
    .searchBarOptionalField {
        width: 100%;
    }

    .searchBarOptionalFieldMobile {
        max-width: 50%;
        margin: 0 auto;
    }

    .searchBarOptionalFieldScreen {
        display: none;
    }
}


@media only screen and (min-device-width: 0) and (max-device-width: 850px) {
    .searchBarButtonContainer, .searchBarOptionalFieldContainer {
        display: block;
        width: 100%;
        text-align: center;
        height: auto;
    }

    .searchBarOptionalFieldMobile, .searchBarOptionalField {
        display: block;
        margin: 6px 0;
        padding: 0;
        transform: none;
        height: auto;
        width: auto;
        text-align: center;
    }
    .searchBarOptionalField {
        width: 100%;
    }

    .searchBarOptionalFieldMobile {
        max-width: 50%;
        margin: 0 auto;
    }

    .searchBarOptionalFieldScreen {
        display: none;
    }
}
