.resultsFirstName, .resultsLastLogin, .resultsCity, .resultsAvailableDays, .resultsCourses  {
    width: 10%;
    text-align: left;
}

.resultsLastLogin {
    width: 15%;
}

.resultsCourses, .resultsCity {
    width: 20%;
}
.resultsAvailableDays {
    width: 30%;
}
.resultsListContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.searchResultsAvatar {
    width: 36px;
}
@media only screen and (min-device-width: 0) and (max-device-width: 500px) {
    .resultsListContainer {
        flex-flow: column;
        text-align: left;
        height: auto;
    }

    .resultsFirstName, .resultsLastLogin, .resultsCity, .resultsAvailableDays, .resultsCourses {
        margin-bottom: 12px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .resultsListContainer {
        flex-flow: column;
        text-align: left;
        height: auto;
    }

    .resultsFirstName, .resultsLastLogin, .resultsCity, .resultsAvailableDays, .resultsCourses {
        margin-bottom: 12px;
        width: 100%;
    }
}
