.searchBarContainer {
    text-align: center;
}

.searchBarOptionContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 65%;
    margin: 48px auto;
}

.searchBarOptionContainer > div.searchBarOption {
    max-width: 45%;
    margin: 1% 5%;
}

.emptyTeacherResults {
    margin: 24px 0;
}

@media only screen and (min-device-width: 501px) and (max-device-width: 1000px) {
    .searchBarOptionContainer > div.searchBarOption {
        max-width: 30%;
        margin: 1% 5%;
    }
}

@media only screen and (max-device-width: 500px) {
    .searchBarOption {
        min-width: 90%;
        display: block;
        margin: 12px 0;
    }

    .searchBarOptionContainer {
        width: 100%;
        display: block;
        margin: 48px 0;
    }

    .searchBarButton {
        width: auto;
    }
}

@media (max-width: 1000px) {
    .searchBarOptionContainer > div.searchBarOption {
        max-width: 30%;
        margin: 1% 5%;
    }
}

@media (max-width: 500px) {
    .searchBarOption {
        min-width: 90%;
        display: block;
        margin: 12px 0;
    }
    .searchBarOptionContainer {
        display: block;
        width: 100%;
        margin: 48px 0;
    }

    .searchBarButton {
        width: auto;
    }
}
