.searchBarOptionalFieldContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

.searchBarStartTimeButton, .searchBarEndTimeButton {
    width: 50%;
    flex: 1 1 auto;
}

.searchBarStartTimePickerContainer, .searchBarEndTimePickerContainer {
    width: 45%;
}

.searchBarStartTimePicker, .searchBarEndTimePicker, .searchBarDistanceOption, .searchBarDistanceButton {
    min-width: 100%;
    max-width: 100%;
    flex: 1 1 auto;
}

.searchBarDistanceButton {
    margin: 12px 0;
}

@media (min-device-width: 0) and (max-device-width: 600px), (max-width: 600px) {
    .searchBarButtonContainer {
        display: block;
        width: 100%;
        text-align: center;
        height: auto;
    }

    .searchBarStartTimeButton, .searchBarEndTimeButton, .searchBarDistanceButton {
        width: 100%;
        margin: 0;
    }

    .searchBarStartTimeButton {
        order: 0;
    }

    .searchBarStartTimePickerContainer {
        order: 1;
    }

    .searchBarEndTimeButton {
        order: 2;
    }

    .searchBarEndTimePickerContainer {
        order: 4;
    }

    .searchBarDistanceButton {
        order: 5;
    }

    .searchBarDistanceOption {
        order: 6;
    }

    .searchBarStartTimePickerContainer, .searchBarEndTimePickerContainer, .searchBarDistanceOption {
        min-width: 80%;
        max-width: 80%;
        margin: 0 auto;
    }

}
