.signUpHeader {
    padding-left: 48px;
    margin: 25px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

@media only screen and (min-device-width: 0) and (max-device-width: 650px) {
    .signUpHeader {
        padding-left: 0;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .signUpHeader {
        padding-left: 0;
        text-align: center;
    }
}
