.userProfileField {
    margin: 12px 0;
}

.userProfileButtonAndDetailsContainer {
    clear: both;
    display: block;
}

.userProfileImage {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.userProfileRefreshIndicator {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.userProfileSendEmail {
    position: absolute;
    bottom: -24px;
    right: 0;
}

.userProfileBackButton {
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
}

.userProfileMessageButton {
    margin-right: 12px;
}

.userProfileCommentContainer {
    min-height: 100px;
}

@media (min-device-width: 901px), (min-width: 901px) {
    .userProfileReviewAndComment {
        display: inline-block;
        width: auto;
    }

    .userProfileLink {
        display: inline-block;
        text-align: left;
    }

    .userProfileDetailsContainer {
        margin-top: 24px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .userProfileCommentContainer {
        width: 60%;
    }

    .userProfileLeftDetails {
        width: 40%
    }

    .userProfileImage {
        object-fit: contain;
        width: 30%;
        height: 30%;
    }

    .userProfileImageContainer {
        margin: 12px 0;
    }
}

@media (min-device-width: 0px) and (max-device-width: 900px), (min-width: 0px) and (max-width: 900px) {
    .userProfilePaper {
        max-width: 100%;
        position: relative;
        margin: 12px 6px;
        padding: 24px;
    }

    .userProfileBackButton {
        float: none;
        margin: 0;
        min-width: 100vw;
    }

   .userProfileDetailsContainer {
       margin-bottom: 24px;
   }

    .userProfileCommentContainer, .userProfileLeftDetails {
        width: 100%;
    }

    .userProfileLeftDetails {
        margin-bottom: 24px;
    }

    .userProfileImageContainer {
        text-align: center;
        margin-bottom: 12px;
    }

    .userProfileImage {
        object-fit: contain;
        width: 80%;
        height: 80%;
    }

    .userProfileMessageButton, .userProfileReviewAndComment {
        margin: 12px 0;
    }
    .userProfileLink, .userProfileReviewAndComment {
        display: block;
    }

    .userProfileReviewAndComment {
        padding: 4px;
        width: 160px;
    }
}
