.userForm {
    margin-left: 48px;
}

.userFormHeader {
    font-size: 16px;
    font-weight: normal;
}

.userFormToggle {
    width: 200px;
}

.userFormOuterButton {
    padding-left: 48px;
}

.userFormInnerButton {
    margin: 24px 0;
    display: inline-block;
}

.userFormSecondButton {
    margin-left: 12px;
}

.userFormTermsAndConditionsLink {
    margin: 24px 0;
}

.userFormInputField {
    min-width: 500px;
}

.userFormImage {
    width: 49%;
    margin: 24px 0;
    border-radius: 2px;
}

@media (min-device-width: 0) and (max-device-width: 500px), (max-width: 500px)  {
    .userFormInnerButton, .userFormSecondButton, .userFormOuterButton {
        display: block;
        margin: 12px 0;
        padding: 0;
    }

    .userForm {
        margin-left: 0;
    }

    .userFormInputField {
        min-width: 100%;
    }

   .userFormPasswordButton, .userFormProgramButton, .userFormSaveButton {
       min-width: 100%;
       width: 100%;
    }
}

