<footer>
  <div class="footer_top hidden-xs">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-3">
          <div class="footer__item">
            <div class="footer__title">Contact Us</div>
            <div class="footer__content">
              <p>
                Do not hesitate to contact us if you have any questions or feature requests:
              </p><p>
              Lorem ipsum dolor sit amet,<br>
              Consectetur adipiscing elit
            </p><p>
              Phone: +0 000 000 00 00<br>
              Fax: +0 000 000 00 00
            </p><p>
              Email: <a href="#">support@example.com</a>
            </p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="footer__item">
            <div class="footer__title">Recent Tweets</div>
            <div class="footer__content">
              <div class="footer__tweet">
                <div class="footer-tweet__icon">
                  <i class="fa fa-twitter"></i>
                </div>
                <div class="footer-tweet__content">
                  <p>
                    <a href="#">@wrapbootstrap</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisi lorem, elementum sed feugiat.
                  </p>
                  <a href="#">1 hour ago</a>
                </div>
              </div>
              <div class="footer__tweet">
                <div class="footer-tweet__icon">
                  <i class="fa fa-twitter"></i>
                </div>
                <div class="footer-tweet__content">
                  <p>
                    <a href="#">@wrapbootstrap</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisi lorem, elementum sed feugiat.
                  </p>
                  <a href="#">1 day ago</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="footer__item">
            <div class="footer__title">Recent Posts</div>
            <div class="footer__content">
              <div class="footer__post">
                <div class="footer-post__img">
                  <%= image_tag "/assets/general_1.jpg", :alt=>"..." %>
                </div>
                <div class="footer-post__content">
                  <p><a href="#">Lorem ipsum dolor sit amet</a></p>
                  <time datetime="2015-01-01">2015/01/01</time>
                </div>
              </div>
              <div class="footer__post">
                <div class="footer-post__img">
                  <%= image_tag "/assets/general_2.jpg", :alt=>"..." %>
                </div>
                <div class="footer-post__content">
                  <p><a href="#">Lorem ipsum dolor sit amet</a></p>
                  <time datetime="2015-01-01">2015/01/01</time>
                </div>
              </div>
              <div class="footer__post">
                <div class="footer-post__img">
                  <%= image_tag "/assets/general_3.jpg", :alt=>"..." %>
                </div>
                <div class="footer-post__content">
                  <p><a href="#">Lorem ipsum dolor sit amet</a></p>
                  <time datetime="2015-01-01">2015/01/01</time>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Quick Links -->
        <div class="col-xs-12 col-sm-3">
          <div class="footer__item">
            <div class="footer__title">Quick Links</div>
            <div class="footer__content">
              <ul class="footer__links">
                <li><a href="#">Donec commodo turpis eget orci</a></li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Aenean rhoncus vel nisi sed</a></li>
                <li><a href="#">Aenean accumsan volutpat libero</a></li>
                <li><a href="#">Vestibulum lacinia erat massa</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </div> <!-- / .footer_top -->
  <div class="footer__hr hidden-xs"></div>

  <!-- Footer Bottom -->
  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="footer__copyright">
            Copyright 2015 <%= link_to "Simpleqode.com", "http://simpleqode.com/" %>. All Rights Reserved.
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <ul class="footer__social">
            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
