@import "variables.scss";

form {
	@include column();
	align-items: flex-start;
	padding: 1em;
}

.form-submit {
	margin: auto;
}

.form-input {
	margin-bottom: 1em;
	width: 100%;
}

.form-title {
	font-weight: bolder;
	margin: auto;
	margin-bottom: .5em;
}

.input-info {
	font-size: smaller;
	color: gray;
}

form label {
	width: 100%;
	@include column();
}

.input-errors {
	color: red;
	font-size: smaller;
	list-style: none;
	padding: 0;
}