@import "variables.scss";

.highlight {
	@include row();

	padding: 1rem;
	max-width: 80%;
	margin: auto;
	white-space: wrap;
	justify-content: space-between;

	@media (min-height: $large) {
		max-width: 100%;
	}

	@media (max-width: $medium) {
		max-width: 100%;
		flex-direction: column;
		.highlight-thumb {
			display: none;
		}
	}
}

.highlight.left {
	.highlight-thumb {
		margin-left: 0;
	}
}

.highlight.right {
	flex-direction: row-reverse;
	.highlight-thumb {
		margin-right: 0;
	}
}

.highlight-content {
	flex: 3
}

.highlight-thumb {
	flex: 1;
}

.highlight-thumb img {
	height: 30vh;
	width: 30vh;
	background: $gray;
}