@import "variables.scss";

#billboard {
	color: white;
	padding: 1rem;
	height: calc(100% - 10rem);
	background: $gray;

	@media (max-width: $small) {
		height: calc(100% - (2 * #{$header-height}));		
	}

}