@import "variables.scss";

.slot-label {
	transform: rotate(-45);
}

.day-name {
	text-align: left;
	margin-right: 1em;
}

.day-toggle.available {
	background: green;
}

.day-toggle.unavailable {
	background: gray;
}

.availability-input {
		td, th {
		padding: 0 1em 0 1em;
		text-align: center;
		@media (max-width: $small) {
			padding: 0;
			text-align: center;
		}
	}
}