@import "variables.scss";

.dashboard {
	background: white;
}

.tabs {
	height: 3em;
	@include row();
}

.tab {
	@include column();
	height: 100%;
	text-decoration: none;
	background: $gray;
	width: 33.4%;
	text-align: center;
}

.tab.active {
	background: white;
}