@import "variables.scss";

form {
	@include column();
	align-items: flex-start;
	max-width: 50%;
	margin: auto;
	border: 1px solid black;
	padding: 1em;
}

.form-title {
	margin: auto;
	margin-bottom: .5em;
}

form label {
	width: 100%;
	@include column();
}