@import "variables.scss";

#logo {
	color: $light-blue;
	font-weight: 800;
}

#app-header {
	margin: 0 1em;
	justify-content: space-between;
	height: $header-height;
}

#header-menu > * {
	margin: 0 1em;
	font-weight: 600;
}

#header-menu-button {
	display: none;
}

@media (max-width: $small) {
	#header-menu-button {
		display: initial;
	}

	#header-menu {
		padding: 0;
		margin: 0;
		position: absolute;
		flex-direction: column;
		align-items: flex-start;
		top: $header-height;
		right: 0;
		background: white;
	}

	#header-menu a:visited {
		color: black;
	}
	#header-menu.hide {
		display: none;
	}
}