@import "variables.scss";

@mixin dropdown() {
	padding: 0;
	margin: 0;
	position: absolute;
	flex-direction: column;
	align-items: flex-start;
	top: $header-height;
	right: 0;
	background: white;
}

#logo {
	color: $light-blue;
	font-weight: 800;
}

#app-header {
	@include row();
	margin: 0 1em;
	justify-content: space-between;
	height: $header-height;
}

#header-menu > * {
	margin: 0 1em;
	font-weight: 600;
}

#header-menu-button {
	display: none;
}

#header-menu-button.logged-in {
	display: initial;
}

#header-menu.logged-in {
	@include dropdown();
}

#header-menu.hide {
	display: none;
}

@media (max-width: $large) {

	#header-menu-button {
		display: initial;
	}

	#header-menu {
		@include dropdown();
	}

	#header-menu a:visited {
		color: black;
	}
	#header-menu.hide {
		display: none;
	}
}