<p>Hello <%= @resource.first_name %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', password_edit_url(user: @resource, reset_password_token: @token, locale: @resource.locale) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Thanks,</p>
<p>Team Tutoría</p>
