<body class="body_plain">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="body-plain__title">
        <h1 class="text-center">404 Error</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-sm-offset-3 col-md-offset-3 col-lg-offset-4">
      <div class="body-plain__form text-center">
        <p class="lead text-primary">Oops!</p>
        <p>
          Page doesn't exist or some other error occurred.
        </p>
        <p>
          Go to our
          <%= link_to "homepage", root_path %>
          or go back to the
          <%= link_to "previous page", "#" %>.
        </p>
      </div>
    </div>
  </div>
</div>
<%= render :partial=>'partials/page_footer' %>
</body>
